<div class="contenedor-pokemon" [ngStyle]="{'background-color': color2}" onmousedown = 'return false' onselectstart = 'return false'>
    <button class="boton" (click)="detallesPokemon(); obtenerColor()" onmousedown = 'return false' onselectstart = 'return false'>        
        <h2 style = "color: white;">{{pokemon.name}}</h2>
        <div class="contenedor-detalles">            
            <div class="tipos">
                <div *ngFor="let objeto of pokemon.types" [ngStyle]="{'background-color': color2}" class="poke">                      
                        <div class="poli">
                            <h3>{{objeto.type.name}}</h3> 
                        </div>                   
                </div>                            
            </div>
            <div class="imagen">
                <img [src]="pokemon.sprites.other['official-artwork'].front_default" 
                onmousedown = 'return false' onselectstart = 'return false'
                *ngIf="pokemon.sprites.other['official-artwork'].front_default; else elseImg"
                alt="">
                <ng-template #elseImg>
                    <img class="imagenes" [src]="imageDefault" alt="" onmousedown = 'return false' onselectstart = 'return false'>
                </ng-template>
            </div>
        </div>        
    </button>
</div>
