
<!-- <label>Ingrese Id</label> -->
<!-- <input type="number"  [(ngModel)]="pokemon.id"> -->
<!-- <button (click)="llamarPokemon()">Buscar</button> -->
<div class="contenedor-pokemon" [ngStyle]="{'background-color': color2}">
    <button class="boton" (click)="detallesPokemon(); obtenerColor()">        
        <h2 style = "text-transform:capitalize; color: white;">{{pokemon.name}}</h2>
        <div class="contenedor-detalles">            
            <div class="tipos">
                <div *ngFor="let objeto of pokemon.types">  
                    <h3>{{objeto.type.name}}</h3>
                </div>            
            </div>
            <div class="imagen">
                <img [src]="pokemon.sprites.other.dream_world.front_default" alt="">
            </div>
        </div>        
    </button>
</div>