<div class="contenedor" >
    <div class="direcciones">
        <div class="botones">
            <!-- <a ><img src="../../assets/imagen/volver.png" alt=""></a> -->
            <h1 style="width: 90%; margin: auto;">Pokedex</h1>
        </div>
        <div class="botones">
            <button (click)="anterioresPokemones()"><img src="../../assets/imagen/volver.png" alt=""></button>
            <button (click)="posterioresPokemones()"><img style="transform: scaleX(-1);" src="../../assets/imagen/volver.png" alt=""></button>
        </div>
    </div>
    <div>
        
    </div>
</div>